.app{
  
    margin-left: 30%;
    margin-right:30%;
    @media (max-width: 900px) {
        width: 100%;
        margin-left: 5%;
        margin-right:5%;
      }
}


.button-container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    @media (max-width: 900px) {
        width: 80%;
        margin-left: 5%;
        margin-right:5%;
      }
}

.button {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 34px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 20%;
  @media (max-width: 900px) {
    width: 45%;
    margin-left: 5%;
    margin-right:5%;
  }
}

.button:disabled {
  cursor: default;
}

.button:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

.title{
    display: flex;
    position:relative;

}

.text-area{
    &__box{
        font-family: Arial, Helvetica, sans-serif;
        width: 100%;
        height: 150px;
        padding: 12px 20px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: #f8f8f8;
        font-size: 16px;
        resize: none;
        @media (max-width: 900px) {
            width: 80%;
            margin-left: 5%;
            margin-right:5%;
          }
    }
    
}

.select{
  margin-right: 1.5rem;
  margin-left: 0.5rem;
}
